
@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: 'Poppins', sans-serif;
  }

  a.active{
    background-color: #E7E7E7;
  }

  .logoName{
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 500;
    font-style: oblique;
    font-size: 56px;
  }